<html>
<head>
<title>Counting on US</title>
<script type='text/javascript' src='/static/jquery-1.7.1.min.js'></script>
<script type='text/javascript' src='/static/jquery-ui-1.8.18.custom.min.js'></script>
<link href="/static/style.css" rel="stylesheet" type="text/css" />
<link href="/static/navigation.css" rel="stylesheet" type="text/css" />
<link href="/static/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>

<script type="text/javascript">
$(document).ready(function(){
(function($){
	var nav = {
		onDocumentReady: function(){
			var self = nav;
			var $el, leftPos, newWidth;
			$("#nav-bar").append("<li id='magic-line'></li>");
			    
			var $magicLine = $("#magic-line");
			    
		    	$magicLine
				.width($(".current_page_item").width())
				.css("left", $(".current_page_item a").position().left)
				.data("origLeft", $magicLine.position().left)
				.data("origWidth", $magicLine.width());
				
			$("#nav-bar li").find("a").hover(function() {
				$el = $(this);
				leftPos = $el.position().left;
				newWidth = $el.parent().width();
				
				$magicLine.stop().animate({
				    left: leftPos,
				    width: newWidth
				});
			}, function() {
				$magicLine.stop().animate({
					left: $magicLine.data("origLeft"),
					width: $magicLine.data("origWidth")
				});    
			});
		}, // End of onDocumentReady
	};
	Pane = {
		nav: nav,
		onDocumentReady: function(){
			var self = Pane;
			self.nav.onDocumentReady();

			// Accordion effect
			$('#accordion').accordion({
				autoHeight: false,
				navigation: true,
				collapsible: true,
			});
		},
	}
	Pane.onDocumentReady();
})(jQuery);
});
</script>

</head>
<body>

<div id="page_container">
	<div id="title">
		<!--
		<img alt="Counting on US" src="images/logo.png" height="100px"/>
		-->
		<a href="http://countingon.us"><img alt="Counting on US" src="/static/logo.png" height="100px"/></a>
	</div>

	<div class="nav-wrap">

	<ul class="group" id="nav-bar">
	    <li><a href="index">Home</a></li>
            <li class="current_page_item">
            <a href="about">About</a>
            </li>
            <li><a href="collaborators">Collaborators</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
        
    </div>

	<div id="accordion">
		<h3><a href="#">About</a></h3>
		<div id="about_text">
CountingOnUS is an open source social media engagement platform built of the principle that big health data is not just be made accessible and easy to understand, but also personal.
<br />
<br />
By providing a simple, straightforward 1-10 point scale "Concern Index" to Leading Health Indicators and presenting them as a person-to-person comparison between two demographic profiles, CountingOnUS aims to highlight the differences that might impact you or the people you love. Does a difference of ethnicity greatly change the possibility of two similar individuals contracting cancer? Is your father more likely to be affected by environmental pollutants, or are you? What sorts of potential health issues are you likely to face, in the place you live in? Find out.
<br />
<br />
Want to better understand a high concern index score, or explore the reason for a huge disparity in scores between you and a loved one? Click on the logos of our collaborators to go to their sites to learn more and/or get involved making these score gets smaller--or even drop to zero!
<br />
<br />
With CountingOnUS big health data--and the disparities it can reveal--gets personal.
		</div>
		<h3><a href="#">Development and Recognition</a></h3>
		<div>
CountingOnUS was first conceived and developed over a 36 hour period as a part of the Health 2.0 Columbia University Code-a-Thon, in January 2012. The platform won second place in the Code-a-Thon, and now in partnership with over <a href="collaborators" style="color: blue;">23 collaborators</a> is a contestant for the Healthy People 2020 Leading Health Indicators App Challenge, also hosted by Health 2.0.
<br />
<br />
Leading Health Indicator data sets are provided by the <a href="http://cdc.gov" style="color: blue;">Center for Disease Control</a> and <a href="http://healthindicators.gov" style="color: blue;">Health Indicators Warehouse</a>.
		</div>
		<h3><a href="#">Development Team</a></h3>
		<div>
CountingOnUS is the health data and social engagement love child of Michael Carroll, David Huang, Bastien Rance, Ming-Hen Tsai, and Ivy Wu.
<br />
<br />
Want to make your own contribution to CountingOnUS? <a href="contact" style="color: blue;">Drop us a line!</a>

		</div>
		<h3><a href="#">Source Code</a></h3>
		<div>
CountingOnUS is an open source project, and the code is licensed to be distributed without warranty and may be redistributed or modified under the terms of the <a href="http://www.gnu.org/copyleft/gpl.html" style="color: blue;">GNU General Public License</a>.
<br />
<br />
To find or contribute to the source code for CountingOnUS, please visit our public repository at <a href="https://github.com/crimsonbamboo/CountingOnUS" style="color: blue;">GitHub</a>.
		</div>
	</div>
<br />
<div id="footer">
Counting on US: Making public health data personal.<br />
Designed and created as a part of the Health 2.0<br />
Developer Challenge, 2012<br />
</div>

</div>

</body>
</html>
