<html>
<head>
<title>Counting on US</title>
<script type='text/javascript' src='/static/jquery-1.7.1.min.js'></script>
<script type='text/javascript' src='/static/jquery-ui-1.8.18.custom.min.js'></script>
<link href="/static/style.css" rel="stylesheet" type="text/css" />
<link href="/static/navigation.css" rel="stylesheet" type="text/css" />
<link href="/static/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>

<script type="text/javascript">
$(document).ready(function(){
(function($){
	var nav = {
		onDocumentReady: function(){
			var self = nav;
			var $el, leftPos, newWidth;
			$("#nav-bar").append("<li id='magic-line'></li>");
			    
			var $magicLine = $("#magic-line");
			    
		    	$magicLine
				.width($(".current_page_item").width())
				.css("left", $(".current_page_item a").position().left)
				.data("origLeft", $magicLine.position().left)
				.data("origWidth", $magicLine.width());
				
			$("#nav-bar li").find("a").hover(function() {
				$el = $(this);
				leftPos = $el.position().left;
				newWidth = $el.parent().width();
				
				$magicLine.stop().animate({
				    left: leftPos,
				    width: newWidth
				});
			}, function() {
				$magicLine.stop().animate({
					left: $magicLine.data("origLeft"),
					width: $magicLine.data("origWidth")
				});    
			});
		}, // End of onDocumentReady
	};
	Pane = {
		nav: nav,
		onDocumentReady: function(){
			var self = Pane;
			self.nav.onDocumentReady();
			// Accordion effect
			$('#accordion').accordion({
				autoHeight: false,
				navigation: true,
			});
		},
	}
	Pane.onDocumentReady();
})(jQuery);
});
</script>

</head>
<body>

<div id="page_container">
	<div id="title">
		<!--
		<img alt="Counting on US" src="images/logo.png" height="100px"/>
		-->
		<img alt="Counting on US" src="http://www.aiksee.com/~minghen/logo.png" height="100px"/>
		Counting on US</div>

	<div class="nav-wrap">

	<ul class="group" id="nav-bar">
	    <li><a href="index">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="collaborators">Collaborators</a></li>
            <li class="current_page_item">
		    <a href="contact">Contact</a>
            </li>
        </ul>
        
    </div>

	<div id="accordion">
		<h3><a href="#">Collaborators</a></h3>
		<div id="contact_text">
		    <table width="100%" border="1" cellpadding="0" cellspacing="0">
			    <tr bgcolor="#A6B7C8">
			        <td width="33%" style="font-variant: small-caps; text-align:center;"><strong>Organization</strong></td>
			        <td width="67%" style="font-variant: small-caps; text-align:center;"><strong>Description</strong></td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.cjsids.com"><img src="/static/logo/CJFS.png" class="center"></a>
					<span class="org-title">CJ Foundation for SIDS</span>
				    	</div>
					<br />
				    </td>
				    <td>
The CJ Foundation for SIDS is a nationwide voluntary health organization dedicated to recognizing the special needs of the SIDS community through funding SIDS research and support services.
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.ncadv.org"><img src="/static/logo/NCADV.png" class="center"></a>
					<span class="org-title">National Coalition Against Domestic Violence</span>
				    	</div>
					<br />
				    </td>
				    <td>
The National Coalition Against Domestic Violence, formed in 1978, is a national membership organization that represents grassroots organizations and individuals working to assist and empower battered women and their children.
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.nnaapc.org"><img src="/static/logo/NNAAPC.jpg" class="center"></a>
					<span class="org-title">National Native American AIDS Prevention Center</span>
				    	</div>
					<br />
				    </td>
				    <td>
Founded in 1987 by American Indian and Alaska Native activists, social workers and public health professionals, the National Native American AIDS Prevention Center (NNAAPC) is the national leader in addressing HIV/AIDS issues that impact Native communities. NNAAPC seeks to address these issues through its work in the areas of public health, community advocacy and mobilization, training and technical assistance, and communications/media. 
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.KidneyCancer.org"><img src="/static/logo/KCA.gif" class="center" style="width: 80%;"></a>
					<span class="org-title">Kidney Cancer Association</span>
				    	</div>
					<br />
				    </td>
				    <td>
The Kidney Cancer Association works to improve care and increase survival of kidney cancer patients through information, research and patient advocacy with employers, government and insurance companies.
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.gradhelp.org"><img src="/static/logo/GH.png" class="center"></a>
					<span class="org-title">Grad Help 1-800-GRADHLP</span>
				    	</div>
					<br />
				    </td>
				    <td>
National Graduate Student Crisis Line
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.veteranscall.us"><img src="/static/logo/VET2VET.jpg" class="center"></a>
					<span class="org-title">VET2VET peer counseling 1-877-VET2VET</span>
				    	</div>
					<br />
				    </td>
				    <td>
Vet2Vet Veterans Crisis Hotline
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.ncadv.org"><img src="/static/logo/NCADV.png" class="center"></a>
					<span class="org-title">National Coalition Against Domestic Violence</span>
				    	</div>
					<br />
				    </td>
				    <td>
				    </td>
			    </tr>
		    </table>
		</div>
	</div>
<div id="footer">
Counting on US - Making public health data personal - health2dev challenge - 2012
</div>

</div>

</body>
</html>
