<html>
<head>
<title>Counting on US</title>
<script type='text/javascript' src='/static/jquery-1.7.1.min.js'></script>
<script type='text/javascript' src='/static/jquery-ui-1.8.18.custom.min.js'></script>
<link href="/static/style.css" rel="stylesheet" type="text/css" />
<link href="/static/navigation.css" rel="stylesheet" type="text/css" />
<link href="/static/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>

<script type="text/javascript">
$(document).ready(function(){
(function($){
	var nav = {
		onDocumentReady: function(){
			var self = nav;
			var $el, leftPos, newWidth;
			$("#nav-bar").append("<li id='magic-line'></li>");
			    
			var $magicLine = $("#magic-line");
			    
		    	$magicLine
				.width($(".current_page_item").width())
				.css("left", $(".current_page_item a").position().left)
				.data("origLeft", $magicLine.position().left)
				.data("origWidth", $magicLine.width());
				
			$("#nav-bar li").find("a").hover(function() {
				$el = $(this);
				leftPos = $el.position().left;
				newWidth = $el.parent().width();
				
				$magicLine.stop().animate({
				    left: leftPos,
				    width: newWidth
				});
			}, function() {
				$magicLine.stop().animate({
					left: $magicLine.data("origLeft"),
					width: $magicLine.data("origWidth")
				});    
			});
		}, // End of onDocumentReady
	};
	Pane = {
		nav: nav,
		onDocumentReady: function(){
			var self = Pane;
			self.nav.onDocumentReady();
			// Accordion effect
			$('#accordion').accordion({
				autoHeight: false,
				navigation: true,
			});
		},
	}
	Pane.onDocumentReady();
})(jQuery);
});
</script>

</head>
<body>

<div id="page_container">
	<div id="title">
		<!--
		<img alt="Counting on US" src="images/logo.png" height="100px"/>
		-->
		<a href="http://countingon.us"><img alt="Counting on US" src="/static/logo.png" height="100px"/></a>
	</div>

	<div class="nav-wrap">

	<ul class="group" id="nav-bar">
	    <li><a href="index">Home</a></li>
            <li><a href="about">About</a></li>
            <li class="current_page_item">
		    <a href="collaborators">Collaborators</a>
            </li>
	    <li><a href="contact">Contact</a></li>

        </ul>
        
    </div>

<div id="individual">
	<div id="collaborators_text">
	Introduction:
	<br />
	<br />
	One of the two underlying purposes of CountingOnUS is to provide a platform for driving informed engagement between individuals and public health organizations. The following organizations have all given permission to CountingOnUS to incorporate their logos and links into our Leading Health Indicator results. Some of the following collaborators have also contributed additional data sets, design input, and other feedback on the platform.
	<br />
	<br />
	If you would like your organization to take part in CountingOnUS, please reach us on our <a href="contact" style="color: blue;">Contact page</a>.

	</div>
</div>
	<div id="accordion">
		<h3><a href="#">Collaborators</a></h3>
		<div id="contact_text">
		    <table width="100%" border="1" cellpadding="0" cellspacing="0">
			    <tr bgcolor="#A6B7C8">
			        <td width="33%" style="font-variant: small-caps; text-align:center;"><strong>Organization</strong></td>
			        <td width="67%" style="font-variant: small-caps; text-align:center;"><strong>Description</strong></td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.cjsids.com"><img src="/static/logo/CJFS.png" class="center"></a>
					<span class="org-title">CJ Foundation for SIDS</span>
				    	</div>
					<br />
				    </td>
				    <td>
The CJ Foundation for SIDS is a nationwide voluntary health organization dedicated to recognizing the special needs of the SIDS community through funding SIDS research and support services.
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.ncadv.org"><img src="/static/logo/NCADV.png" class="center"></a>
					<span class="org-title">National Coalition Against Domestic Violence</span>
				    	</div>
					<br />
				    </td>
				    <td>
The National Coalition Against Domestic Violence, formed in 1978, is a national membership organization that represents grassroots organizations and individuals working to assist and empower battered women and their children.
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.nnaapc.org"><img src="/static/logo/NNAAPC.jpg" class="center"></a>
					<span class="org-title">National Native American AIDS Prevention Center</span>
				    	</div>
					<br />
				    </td>
				    <td>
Founded in 1987 by American Indian and Alaska Native activists, social workers and public health professionals, the National Native American AIDS Prevention Center (NNAAPC) is the national leader in addressing HIV/AIDS issues that impact Native communities. NNAAPC seeks to address these issues through its work in the areas of public health, community advocacy and mobilization, training and technical assistance, and communications/media. 
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.IMALIVE.org"><img src="/static/logo/IMA.jpg" class="center"></a>
					<span class="org-title">IMALIVE Online Virtual Crisis Center</span>
				    	</div>
					<br />
				    </td>
				    <td>
				    	    IMAlive is a live online crisis network that uses instant messaging to respond to people in crisis.
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.simonfoundation.org"><img src="/static/logo/SFC.png" class="center"></a>
					<span class="org-title">The Simon Foundation for Continence</span>
				    	</div>
					<br />
				    </td>
				    <td>
				    	    The Simon Foundation for Continence is a non-profit 501(c)(3) corporation dedicated to: Bringing the topic of incontinence out into the open, Removing the stigma surrounding incontinence, And providing help and hope for people with incontinence, their families, and the health professionals who provide their care.
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.tsalliance.org"><img src="/static/logo/TSA.jpg" class="center" style="width:70%"></a>
					<span class="org-title">Tuberous Sclerosis Alliance</span>
				    	</div>
					<br />
				    </td>
				    <td>
				    	    The Tuberous Sclerosis Alliance is dedicated to finding a cure for tuberous sclerosis complex while improving the lives of those affected.
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.preventblindness.org"><img src="/static/logo/PBA.png" class="center" style="width:70%"></a>
					<span class="org-title">Prevent Blindness America</span>
				    	</div>
					<br />
				    </td>
				    <td>
				    	    Founded in 1908, Prevent Blindness America is the nation's leading volunteer eye health and safety organization dedicated to fighting blindness and saving sight.
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.rpbusa.org"><img src="/static/logo/RPB.jpg" class="center" style="width:70%"></a>
					<span class="org-title">Research to Prevent Blindness</span>
				    	</div>
					<br />
				    </td>
				    <td>
				    	    Research to Prevent Blindness (RPB) is the leading voluntary health organization supporting eye research directed at the prevention, treatment or eradication of all diseases that threaten vision.
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.KidneyCancer.org"><img src="/static/logo/KCA.gif" class="center" style="width: 80%;"></a>
					<span class="org-title">Kidney Cancer Association</span>
				    	</div>
					<br />
				    </td>
				    <td>
The Kidney Cancer Association works to improve care and increase survival of kidney cancer patients through information, research and patient advocacy with employers, government and insurance companies.
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.projectinform.org"><img src="/static/logo/PI.gif" class="center" style="width:70%"></a>
					<span class="org-title">Project Inform</span>
				    	</div>
					<br />
				    </td>
				    <td>
				    	    Information, inspiration and advocacy for people living with HIV/AIDS, since 1985.
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.veteranscall.us"><img src="/static/logo/VET2VET.jpg" class="center"></a>
					<span class="org-title">VET2VET peer counseling</span><br / >
					<span class="org-title">1-877-VET2VET</span>
				    	</div>
					<br />
				    </td>
				    <td>
Vet2Vet Veterans Crisis Hotline
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.ppdmoms.org"><img src="/static/logo/PPD.jpg" class="center"></a>
					<span class="org-title">PPD MOMS  1-800-PPDMOMS</span>
				    	</div>
					<br />
				    </td>
				    <td>
				    	    The goals of the PPD Moms Project are to make screening new mothers for PPD a routine part of prenatal and postnatal care and provide peer guidance to treatment and support.
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.suicida.org"><img src="/static/logo/SH.jpg" class="center"></a>
					<span class="org-title">Spanish Hotline 1-800-SUICIDA</span>
				    	</div>
					<br />
				    </td>
				    <td>
				    	    La misión de la Línea Nacional de Esperanza, AYUDA, 1-800-SUICIDA es siempre estar al alcance de la comunidad de habla hispana y ayudarles y proveerles asistencia básica con calidad humana. Jamás rechazaremos a nadie.
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.youthline.us"><img src="/static/logo/YAH.jpg" class="center"></a>
					<span class="org-title">Youth America Hotline </span><br />
					<span class="org-title">1-877-YOUTHLINE </span>
				    	</div>
					<br />
				    </td>
				    <td>
				    	    If you're in crisis please call 1-877-YOUTHLINE (1-877-968-8454)
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.hopeline.com"><img src="/static/logo/KBHC.jpg" class="center"></a>
					<span class="org-title">Kristin Brooks Hope Center</span><br />
					<span class="org-title">National Hopeline Network</span>
				    	</div>
					<br />
				    </td>
				    <td>
				    	    KBHC is a not-for-profit 501©3 organization. Our focus is suicide prevention, awareness and education. We provide help and hope through crisis hotlines, online crisis chat, a music outreach tour and college campus awareness events.
				    </td>
			    </tr>
			    <tr>
				    <td>
				    	<div class="org-col">
					<a href="http://www.gradhelp.org"><img src="/static/logo/GH.png" class="center"></a>
					<span class="org-title">Grad Help 1-800-GRADHLP</span>
				    	</div>
					<br />
				    </td>
				    <td>
National Graduate Student Crisis Line
				    </td>
			    </tr>
		    </table>
		</div>
	</div>
<br />
<div id="footer">
Counting on US: Making public health data personal.<br />
Designed and created as a part of the Health 2.0<br />
Developer Challenge, 2012<br />
</div>

</div>

</body>
</html>
