<html>
<head>
<title>Counting on US</title>
<script type='text/javascript' src='/static/jquery-1.7.1.min.js'></script>
<script type='text/javascript' src='/static/jquery-ui-1.8.18.custom.min.js'></script>
<link href="/static/style.css" rel="stylesheet" type="text/css" />
<link href="/static/navigation.css" rel="stylesheet" type="text/css" />
<link href="/static/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>

<script type="text/javascript">
$(document).ready(function(){
(function($){
	var nav = {
		onDocumentReady: function(){
			var self = nav;
			var $el, leftPos, newWidth;
			$("#nav-bar").append("<li id='magic-line'></li>");
			    
			var $magicLine = $("#magic-line");
			    
		    	$magicLine
				.width($(".current_page_item").width())
				.css("left", $(".current_page_item a").position().left)
				.data("origLeft", $magicLine.position().left)
				.data("origWidth", $magicLine.width());
				
			$("#nav-bar li").find("a").hover(function() {
				$el = $(this);
				leftPos = $el.position().left;
				newWidth = $el.parent().width();
				
				$magicLine.stop().animate({
				    left: leftPos,
				    width: newWidth
				});
			}, function() {
				$magicLine.stop().animate({
					left: $magicLine.data("origLeft"),
					width: $magicLine.data("origWidth")
				});    
			});
		}, // End of onDocumentReady
	};
	Pane = {
		nav: nav,
		onDocumentReady: function(){
			var self = Pane;
			self.nav.onDocumentReady();
			// Accordion effect
			$('#accordion').accordion({
				autoHeight: false,
				navigation: true,
			});
		},
	}
	Pane.onDocumentReady();
})(jQuery);
});
</script>

</head>
<body>

<div id="page_container">
	<div id="title">
		<!--
		<img alt="Counting on US" src="images/logo.png" height="100px"/>
		-->
		<a href="http://countingon.us"><img alt="Counting on US" src="/static/logo.png" height="100px"/></a>
	</div>

	<div class="nav-wrap">

	<ul class="group" id="nav-bar">
	    <li><a href=".">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="collaborators">Collaborators</a></li>
            <li class="current_page_item">
		    <a href="contact">Contact</a>
            </li>
        </ul>
        
    </div>

	<div id="accordion">
		<h3><a href="#">Contact</a></h3>
		<div id="contact_text">
Do you...
<br />
<br />
...have a questions about how CountingOnUS works?
<br />
...want to contribute to our code or datasets?
<br />
...think your organization could benefit by partnering with CountingOnUS? 
<br />
<br />
If the answer is 'yes' to any of those questions, or even if it's 'no', drop us a line! We'd love to hear from you. 
<br />
<br />
Email: <a href="mailto:info@countingon.us" style="color: blue;">info@countingon.us</a>
		</div>
</div>
<br />
<div id="footer">
Counting on US: Making public health data personal.<br />
Designed and created as a part of the Health 2.0<br />
Developer Challenge, 2012<br />
</div>

</div>

</body>
</html>
