<html>
<head>
<title>Counting on US</title>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<link href="http://www.aiksee.com/~minghen/style.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>

<script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.load('visualization', '1.0', {'packages': ['geochart']});
</script>

<script type="text/javascript">
$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});
</script>

<script type="text/javascript">
$(document).ready(function(){
(function($){
	var hook = {
		onDocumentReady: function(){
			var self = hook;
			$('select').each(function(index){
				$(this).change(function(){
					var s = $(this);
					var sChange = new Object();
					sChange.field = s.attr('name');
					sChange.val = s.val();
					self.sendChange(sChange);
					self.sendData();
				});
			});

			// Global chart variables
			chart = new google.visualization.BarChart(document.getElementById('chart_div'));
			chartData = new google.visualization.DataTable(); // Global: Use for updating chart
			geoChart = new google.visualization.GeoChart(document.getElementById('map_div'));
			geochartData = new google.visualization.DataTable();
		}, // End of onDocumentReady
		sendChange: function(sChange){
			var self = hook;
			$.post('field_filter', sChange, function(rData){
				console.log(rData);
			});
		}, // End of sendChange
		sendData: function(){
			var self = hook;
			sData = $('#you_form').serialize();
			$.post('ajax_handler', sData, function(rData){
				console.log(rData);
			});
		}, // End of sendData
		initChart: function(){
			var self = hook;
			chartData.addColumn('string', 'Concern');
			chartData.addColumn('number', 'Me');
			chartData.addColumn('number', 'You');
			var initData = [
					{% for bar in bars%}
					['{{bar.0}}', {{bar.1}},{{bar.2}}],
					{% endfor  %}
				       ];
			self.updateChart(initData);
		}, // End of initChart
		updateChart: function(data){
			var self = hook;
			var options = {
				width: 400, height: 240,
				title: 'Counting On US',
				animation:{ duration: 800, easing: 'in' },
				vAxis: {title: 'Concern',  titleTextStyle: {color: 'red'}}
			};
			chartData.removeRows(0, chartData.getNumberOfRows());
			chartData.addRows(data);
			chart.draw(chartData, options);

		}, // End of updateChart
		initGeochart: function(){
			var self = hook;	      
			geochartData.addColumn('string', 'State');
			geochartData.addColumn('number', '24-1b Deaths from asthma ...');
			var initData = [
					  {% for subfocus in subfocuses %}
					  ['{{subfocus.0}}' , {{subfocus.1}}],
					  {% endfor %}
				       ];
			self.updateGeochart(initData);
		}, // End of initGeochart
		updateGeochart: function(data){
			var self = hook;	
			var options = {
				region: 'US',
			        resolution: 'provinces',
			        displayMode: 'regions',
			        colorAxis: {colors: ['yellow', 'red'],
			        width: 556,
			        height: 347}
			};
			geochartData.removeRows(0, geochartData.getNumberOfRows());
			geochartData.addRows(data);
			geoChart.draw(geochartData, options);
		},
	}; // End of hook
	Pane = {
		hook: hook,
		onDocumentReady: function(){
			var self = Pane;
			self.hook.onDocumentReady();
			google.setOnLoadCallback(self.hook.initChart);
			google.setOnLoadCallback(self.hook.initGeochart);
		},
	}
	Pane.onDocumentReady();
})(jQuery);
});
</script>

</head>
<body>

<div id="page_container">
	<div id="title">
		<!--
		<img alt="Counting on US" src="images/logo.png" height="100px"/>
		-->
		<img alt="Counting on US" src="http://www.aiksee.com/~minghen/logo.png" height="100px"/>
		Counting on US</div>
<div id="individual">
<div id="you">
You
<form id="you_form" action="index" method="post">
	
<select name="yourstate">
{% for state in statelist %}
{% if yourstate == state %}
<option value="{{state}}" selected>{{state}}</option>
{% else %}
<option value="{{state}}" >{{state}}</option>
{% endif %}
{% endfor %}
</select>
<!--
<select name="yourgender" onchange="submit();">
{% for gender in genderlist %}
{% if yourgender == gender %}
<option value="{{gender}}" selected>{{gender}}</option>
{% else %}
<option value="{{gender}}" >{{gender}}</option>
{% endif %}
{% endfor %}
</select>
-->
<select name="yourrace">
{% for race in racelist %}
{% if yourrace == race %}
<option value="{{race}}" selected>{{race}}</option>
{% else %}
<option value="{{race}}" >{{race}}</option>
{% endif %}
{% endfor %}
</select>

<select name="yourfocus">
{% for subfocus in subfocuslist %}
{% if yourfocus == subfocus %}
<option value="{{subfocus}}" selected>{{subfocus}}</option>
{% else %}
<option value="{{subfocus}}">{{subfocus}}</option>
{% endif %}
{% endfor %}
</select>



<!--
</form>
-->
</div>
<div id="graphs">
<div id="chart_div"></div>
</div>


<div id="friend">Friend<br/>
<!--	
<form id="you_form">
	-->	
<select name="itsstate" action="index">
{% for state in statelist %}
{% if itsstate == state %}
<option value="{{state}}" selected>{{state}}</option>
{% else %}
<option value="{{state}}" >{{state}}</option>
{% endif %}
{% endfor %}
</select>
<!--
<select name="itsgender" onchange="submit();">
{% for gender in genderlist %}
{% if itsgender == gender %}
<option value="{{gender}}" selected>{{gender}}</option>
{% else %}
<option value="{{gender}}" >{{gender}}</option>
{% endif %}
{% endfor %}
</select>
-->
<select name="itsrace">
{% for race in racelist %}
{% if itsrace == race %}
<option value="{{race}}" selected>{{race}}</option>
{% else %}
<option value="{{race}}" >{{race}}</option>
{% endif %}
{% endfor %}
</select>
</form>
</div>

<div id="sep"></div>

</div>



<div id="us">
<div id="category">
	Category - {{yourfocus}}
</div>
<div id="map">
<div id="map_container">

<div id="map_div"></div>
</div>
</div>
</div>
<div id="footer">
Counting on US - Making public health data personal - health2dev challenge - 2012
</div>

</div>

</body>
</html>
