<html>
<head>
<title>Counting on US</title>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript' src='/static/jquery-1.7.1.min.js'></script>
<script type='text/javascript' src='/static/jquery-ui-1.8.18.custom.min.js'></script>
<link href="/static/style.css" rel="stylesheet" type="text/css" />
<link href="/static/navigation.css" rel="stylesheet" type="text/css" />
<link href="/static/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>

<script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.load('visualization', '1.0', {'packages': ['geochart']});
</script>

<script type="text/javascript">
$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});
</script>

<script type="text/javascript">
$(document).ready(function(){
(function($){
	var hook = {
		onDocumentReady: function(){
			var self = hook;
			$('select').each(function(index){
				$(this).change(function(){
					var s = $(this);
					var sChange = new Object();
					sChange.field = s.attr('name');
					sChange.val = s.val();
					self.sendChange(sChange);
					self.sendData();
				});
			});

			// Global chart variables
			chart = new google.visualization.BarChart(document.getElementById('chart_div'));
			chartData = new google.visualization.DataTable(); // Global: Use for updating chart
			geoChart = new google.visualization.GeoChart(document.getElementById('map_div'));
			geochartData = new google.visualization.DataTable();
		}, // End of onDocumentReady
		sendChange: function(sChange){
			var self = hook;
			$.post('field_filter', sChange, function(rData){
				console.log(rData);
			});
		}, // End of sendChange
		sendData: function(){
			var self = hook;
			sData = $('#you_form').serialize();
			$.post('ajax_handler', sData, function(rData){
				console.log(rData);
			});
		}, // End of sendData
			
		initChart: function(){
			var self = hook;
			chartData.addColumn('string', 'Concern');
			chartData.addColumn('number', 'Me');
			chartData.addColumn('number', 'You');
			var initData = [
					{% for bar in bars%}
					['{{bar.0}}', {{bar.1}},{{bar.2}}],
					{% endfor  %}
				       ];
			self.updateChart(initData);
		}, // End of initChart
		updateChart: function(data){
			var self = hook;
			var options = {
				chartArea: { left: 250 },
				legend: {position: 'top', },
				width: 1000, height: 400,
				title: 'Counting On US',
				animation:{ duration: 800, easing: 'in' },
				vAxis: {title: 'Concern',  titleTextStyle: {color: 'red'}, 
				}
			};
			chartData.removeRows(0, chartData.getNumberOfRows());
			chartData.addRows(data);
			chart.draw(chartData, options);

		}, // End of updateChart
		initGeochart: function(){
			var self = hook;	      
			geochartData.addColumn('string', 'State');
			geochartData.addColumn('number', '24-1b Deaths from asthma ...');
			var initData = [
					  {% for subfocus in subfocuses %}
					  ['{{subfocus.0}}' , {{subfocus.1}}],
					  {% endfor %}
				       ];
			self.updateGeochart(initData);
		}, // End of initGeochart
		updateGeochart: function(data){
			var self = hook;	
			var options = {
				region: 'US',
			        resolution: 'provinces',
			        displayMode: 'regions',
			        colorAxis: {colors: ['yellow', 'red'],
			        width: 556,
			        height: 347}
			};
			geochartData.removeRows(0, geochartData.getNumberOfRows());
			geochartData.addRows(data);
			geoChart.draw(geochartData, options);
		},
	}; // End of hook
	var effect = {
		onDocumentReady: function(){
			var self = effect;

			// Navigating Bar 
			var $el, leftPos, newWidth;
			$("#nav-bar").append("<li id='magic-line'></li>");
			    
			var $magicLine = $("#magic-line");
			    
		    	$magicLine
				.width($(".current_page_item").width())
				.css("left", $(".current_page_item a").position().left)
				.data("origLeft", $magicLine.position().left)
			
				.data("origWidth", $magicLine.width());
				
			$("#nav-bar li").find("a").hover(function() {
				$el = $(this);
				leftPos = $el.position().left;
				newWidth = $el.parent().width();
				
				$magicLine.stop().animate({
				    left: leftPos,
				    width: newWidth
				});
			}, function() {
				$magicLine.stop().animate({
					left: $magicLine.data("origLeft"),
					width: $magicLine.data("origWidth")
				});    
			});

			// Accordion
			$('#accordion').accordion({
				autoHeight: false,
				navigation: true,
				collapsible: true,
			});
		}, // End of onDocumentReady
	}; // End of effect
	var scan = {
		maxPercent: 100,
		elapsedTime: 0,
		elapsedTimeID: 0,
		onDocumentReady: function(){
			var self = scan;
			$('#dialog_process').dialog({
				modal: true,
				width: 500,
				resizable: false,
				draggable: false,
				show: "drop",
				buttons: {
					Cancel: function(){
						$( this ).dialog( "close" );
					}
				},
			});
			$('#dialog_process').dialog('close');
			$('.scan-button').click(function(){
				$("#dialog:ui-dialog" ).dialog( "destroy" );
				$('#dialog_process').dialog('open');
				self.updateBar();
			});

			$('#process_bar').progressbar({
				value: 0,
				complete: function(event, ui){
					$('#dialog_process').dialog('option', 'buttons', 
						{'OK': function(){$(this).dialog('close');}}
					);
				},
			});
		},
		setPercent: function(percent){
			var self = scan;
			self.maxPercent = percent;
		},
		updateBar: function(){
			var self = scan;
			clearTimeout(self.elapsedTimeID);
			var bar = $('#process_bar');
			var val = bar.progressbar('option', 'value');
			$('#dialog_text').html(val+"%");
			if(val < self.maxPercent){
				bar.progressbar('option', 'value', val + 1);
				setTimeout(self.updateBar, ((10000 - self.elapsedTime) / 100) );
			}
		},
		tick: function(){
			var self = scan;
			// in ms
			if(self.elapsedTime < 10000){
				self.elapsedTime += 1000;
				self.elapsedTimeID = setTimeout(self.tick, 1000);
			}
		},
	};
	Pane = {
		hook: hook,
		effect: effect,
		scan: scan,
		onDocumentReady: function(){
			var self = Pane;
			self.hook.onDocumentReady();
			self.effect.onDocumentReady();
			self.scan.onDocumentReady();
			self.scan.tick();
			google.setOnLoadCallback(self.hook.initChart);
			google.setOnLoadCallback(self.hook.initGeochart);
		},
	}
	Pane.onDocumentReady();
})(jQuery);
});
</script>

</head>
<body>

<div id="dialog_process" title="Guessing your health profile..." style="display: none;">
	<div id="process_bar"></div><br />
	<div id="dialog_text">Please wait few seconds.</div>
</div>

<div id="page_container">
	<div id="title">
		<!--
		<img alt="Counting on US" src="images/logo.png" height="100px"/>
		-->
		<img alt="Counting on US" src="http://www.aiksee.com/~minghen/logo.png" height="100px"/>
		Counting on US</div>

	<div class="nav-wrap">

		<ul class="group" id="nav-bar">
            <li class="current_page_item">
            	<a href="index">Home</a>
            </li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
        
    </div>

<div id="individual">
	<div id="you">
	You
		<form id="you_form" action="index" method="post">
			
		<select name="yourstate">
		{% for state in statelist %}
		{% if yourstate == state %}
		<option value="{{state}}" selected>{{state}}</option>
		{% else %}
		<option value="{{state}}" >{{state}}</option>
		{% endif %}
		{% endfor %}
		</select>

		<select name="yourrace">
		{% for race in racelist %}
		{% if yourrace == race %}
		<option value="{{race}}" selected>{{race}}</option>
		{% else %}
		<option value="{{race}}" >{{race}}</option>
		{% endif %}
		{% endfor %}
		</select>

		<select name="yourfocus">
		{% for subfocus in subfocuslist %}
		{% if yourfocus == subfocus %}
		<option value="{{subfocus}}" selected>{{subfocus}}</option>
		{% else %}
		<option value="{{subfocus}}">{{subfocus}}</option>
		{% endif %}
		{% endfor %}
		</select>
	</div>


	<div id="friend">Friend<br/>
		<select name="itsstate" action="index">
		{% for state in statelist %}
		{% if itsstate == state %}
		<option value="{{state}}" selected>{{state}}</option>
		{% else %}
		<option value="{{state}}" >{{state}}</option>
		{% endif %}
		{% endfor %}
		</select>

		<select name="itsrace">
		{% for race in racelist %}
		{% if itsrace == race %}
		<option value="{{race}}" selected>{{race}}</option>
		{% else %}
		<option value="{{race}}" >{{race}}</option>
		{% endif %}
		{% endfor %}
		</select>
		</form>
	</div>

	<div id="sep"></div>
	<div id="scan_btn">
	<a href="#" class="scan-button">Counting on US</a>
	</div>

	<div id="graphs">
	<div id="chart_div"></div>
	</div>

	<div id="sep"></div>
</div>

<div id="accordion">
	<h3><a href="#">Learn More</a></h3>
	<div id="learn_more">
		MORE INFO!
	</div>
	<h3><a href="#">Compare with U.S.</a></h3>
	<div id="us">
		<div id="map">
			<div id="map_container">
				<div id="map_div"></div>
			</div>
		</div>
	</div>
</div>
<div id="footer">
Counting on US - Making public health data personal - health2dev challenge - 2012
</div>

</div>

</body>
</html>
